<small>
  <div class="plain">
    <% var appInfos = attributes.app.split(":"); %>
    <h5 class="applicationName"><%= appInfos[1] %></h5>
    <p class="foxxDescription">
      <!--Description: <%=attributes.description %><br /> -->
      <strong>Mount-Point:</strong>&nbsp;<%=attributes.mount %><br />
      <strong>Version:</strong>&nbsp;<%=appInfos[2] %><br />
      <strong>Prefix:</strong>&nbsp;<%=attributes.collectionPrefix%><br />
      <strong>Active:</strong>&nbsp;<%=attributes.active%>
      <!--Git: <a href=<%=attributes.git %>>Repository</a>-->
    </p>
  </div>
</small>