<small>
  <div class="plain">
    <h5 class="applicationName"><%= attributes.name %></h5>
    <p class="foxxDescription">
      <!--Description: <%=attributes.description %><br />-->
      Path:&nbsp;<%=attributes.path %><br />
      Version:&nbsp;<%=attributes.version %><br />
      <!--Git: <a href=<%=attributes.git %>>Repository</a>-->
    </p>
  </div>
</small>