<small>
  <div class="plain">
    <h5 class="applicationName"><%= attributes.name %></h5>
    <img src="../aardvark/foxxes/thumbnail/<%=attributes.app %>" alt="icon" class="foxxIcon"/>
    <p class="foxxDescription">
      <!--Description: <%=attributes.description %><br />-->
      <strong>Path:</strong>&nbsp;<%=attributes.path %><br />
      <strong>Version:</strong>&nbsp;<%=attributes.version %><br />
      <!--Git: <a href=<%=attributes.git %>>Repository</a>-->
    </p>
    <button id="install" class="btn btn-success pull-right">Install</button>
  </div>
</small>