<small>
  <div class="plain">
    <h5 class="applicationName"><%= attributes.name %></h5>
    <p>
      Description: <%=attributes.description %><br />
      Mount-Point: <%=attributes.installPath %><br />
      Version: <%=attributes.version %><br />
      Prefix: <%=attributes.dbPrefix%><br />
      <!--Git: <a href=<%=attributes.git %>>Repository</a>-->
    </p>
  </div>
</small>