<small>
  <div class="plain">
    <h5 class="blubbelParty"><%= attributes.title %></h5>
    <p>
      Description: <%=attributes.description %><br />
      Mount-Point: <%=attributes.mount %><br />
      Version: <%=attributes.version %><br />
      Git: <a href=<%=attributes.git %>>Repository</a>
    </p>
  </div>
</small>