<%
var ds = [], es = [];
col.each(function(m) {
  switch (m.get("type")) {
    case "document":
      ds.push(m.get("name"));
      break;
    case "edge":
      es.push(m.get("name"));
      break;
  }
});
console.log(ds, es);
%>
<div class="thumbnails" id="background">
  <form action="javascript:void(0);" autocomplete="on" class="form-horizontal" id="creationDialog">
    <fieldset>
      <legend>Configuration</legend>
      
      <label class="radio">
        <input type="radio" name="loadtype" id="collections" "checked">
        Define specific collections
      </label>
      <div id="collection_config">
        <div class="control-group">
          <label for="nodeCollection" class="control-label">Node-Collection</label>
          <div class="controls">
            <select id="nodeCollection" name="nodeCollection">
            <%_.each(ds, function(d) {%>
              <option value="<%= d %>"><%= d %></option>
            <%}); %>
            </select>
          </div>
        </div>
      
        <div class="control-group">
          <label for="edgeCollection" class="control-label">Edge-Collection</label>
          <div class="controls">
            <select id="edgeCollection" name="edgeCollection">
            <%_.each(es, function(e) {%>
              <option value="<%= e %>"><%= e %></option>
            <%}); %>
            </select>
          </div>
        </div>
      </div>

      <label class="radio">
        <input type="radio" name="loadtype" id="graphs">
        Use a graph
      </label>
      <div id="graph_config" style="display:none">
        <div class="control-group">
          <label for="graph" class="control-label">Graph-Name</label>
          <div class="controls">
            <select id="graph" name="graph">
            <%_.each(gs, function(g) {%>
              <option value="<%= g %>"><%= g %></option>
            <%}); %>
            </select>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label for="undirected" class="control-label">Undirected Graph</label>
        <div class="controls">
          <input id="undirected" type="checkbox" name="undirected" class="input-xlarge">
        </div>
      </div>
            
      <div class="accordion" id="advancedGraphOptions">

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#advancedGraphOptions" href="#advancedOptions">
              Advanced
            </a>
          </div>

          <div id="advancedOptions" class="accordion-body collapse out">
            <div class="accordion-inner">
              
              <div class="control-group">
                <label for="randomStart" class="control-label">Start with Random Node</label>
                <div class="controls">
                  <input id="randomStart" type="checkbox" name="randomStart" class="input-xlarge">
                </div>
              </div>
              
              
              <div class="control-group">
                <label for="nodeLabel" class="control-label">Node-Label-Attribute</label>
                <div class="controls">
                  <input id="nodeLabel" type="text" name="nodeLabel" placeholder="Node Label" maxlength="75" class="input-xlarge">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
       
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary" id="createViewer" >Start</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>