<div class="control-group">
  <label for="group_by_<%=id%>" class="control-label">Attribute <%=id%></label>
  <div class="controls">
    <input id="group_by_<%=id%>" type="text" name="group_by_<%=id%>" placeholder="Attribute" maxlength="75" class="input-xlarge">
    <button id="remove_group_by_<%=id%>" class="graphViewer-icon-button gv_internal_remove_line gv-icon-small delete" />
  </div>
</div>