<%
var c = this.data.col,
  m = this.data.mod,
  val,
  n = c.name
  t = c.type;
  if (m !== undefined) {
    val = m.get(c.name);
  } else {
    val = null;
  }
%>
<div class="controls">
 <%switch(t) {
   case "string":
     %><input type="text" id="<%=n%>" placeholder="<%=n%>" name="<%=n%>" value=<%=val%>></input><%
     break;
   case "number":
     %><input type="text" id="<%=n%>" placeholder="<%=n%>" name="<%=n%>" value=<%=val%>></input><%
     break;
   case "boolean":
     if (val) {
       %><input type="checkbox" id="<%=n%>" name="<%=n%>" checked></input><%
     } else {
       %><input type="checkbox" id="<%=n%>" name="<%=n%>"></input><%
     }
     break;
   default:
     %><input type="text" id="<%=n%>" placeholder="<%=n%>" name="<%=n%>" value=<%=val%>></input><%
 } %>
</div>