<script id="applicationDetailView.ejs" type="text/template">
  <div class="application-detail-view">
    <div class="headerBar">
      <div class="breadcrumb">
        <a class="activeBread" href="#applications">Applications</a>
        &gt;
        <a class="disabledBread">
          <%= app.attributes.mount %>
        </a>
      </div>
    </div>
    <section class="info">
      <div class="header">
        <div class="header_left">
          <div class="header-icon-container">
            <img src="foxxes/thumbnail/<%=app.attributes.app %>" class="icon" alt="Icon for App">
          </div>
          <input type="button" class="open button-success" disabled="true" value="Open">
          <input type="button" class="delete button-danger" disabled="true" value="Delete">
        </div>
        <div class="header_right">
          <h3>
            <%= app.attributes.name %>
          </h3>
          <h3>
            <% if (app.attributes.license) { %>
              <span class="license"><%= app.attributes.license %></span>
            <% } %>
          </h3>
          <h3>
            <% if (app.attributes.development) { %>
              <span class="version">devel</span>
            <% } else { %>
              <span class="version"><%= app.attributes.app.split(':').pop() %></span>
            <% } %>
          </h3>
          <p class="description"><%= app.attributes.description %></p>
        </div>
      </div>
      <div class="swagger">
        <iframe src="/_db/<%= app.attributes.db%>/_admin/aardvark/standalone.html#application/documentation/<%= app.attributes._key %>" name="Documentation"></iframe>
      </div>
    </section>
    <aside class="meta">
      <dl>
        <dt>Author</dt>
        <dd><%= app.attributes.author %></dd>
        <dt>Contributors</dt>
        <dd>
          <% if (app.attributes.contributors && app.attributes.contributors.length > 0) { %>
          <ul>
          <% _.each(app.attributes.contributors, function (contributor) { %>
            <li><a href="mailto:<%= contributor.email %>"><%= contributor.name %></a></li>
          <% }); %>
          </ul>
          <% } else { %>
          No contributors
          <% } %>
        </dd>
        <dt>Links</dt>
        <dd>
          <ul>
            <% if (!app.attributes.development) { %>
              <li>
                <a href="./swagger/<%= encodeURIComponent(encodeURIComponent(app.attributes.mount)) %>" target="_blank">
                  Download API Documentation
                </a>
              </li>
            <% } %>
            <% if (app.attributes.repository && app.attributes.repository.type == 'git') { %>
              <li><a href="<%= app.attributes.repository.url %>" target="_blank">Git Repository</a></li>
            <% } %>
          </ul>
        </dd>
      </dl>
    </aside>
  </div>
</script>
