<% var statusClass = function(s) {
    switch (s) {
      case "ok":
        return "success";
      case "warning": 
        return "warning";
      case "critical":
        return "danger";
    }
  };
%>
<h3 class="clusterColumnHeader">DB Server</h3>
<% if (minify) { %>
  <div>
    <ul>
      <% _.each(servers, function(v) { %>
        <li>
          <button id="<%=v.primary.name %>" class="btn btn-server btn-<%=statusClass(v.primary.status)%> server"><%=v.primary.name %></button>
        </li>
      <% }); %>
    </ul>
  </div>
<% } else { %>
  <% _.each(servers, function(v) { %>
    <div id="<%=v.primary.name %>" class="domino server">
      <div class="domino-upper btn-<%=statusClass(v.primary.status)%>">
        <h4 class="domino-header"><%=v.primary.name%></h4>
        <span><%=v.primary.address%></span>
      </div>
      <hr class="domino-line"/>
      <% if (v.secondary) { %>
        <div class="domino-lower btn-<%=statusClass(v.secondary.status)%>">
          <h4 class="domino-header"><%=v.secondary.name%></h4>
          <span><%=v.secondary.address%></span>
        </div>
      <% } else {%>
      <div class="domino-lower btn-inactive">
        <h4 class="domino-header">Not configured</h4>
      </div>
      <% } %>
    </div>
  <% }); %>
<% } %>
