<h3 class="clusterColumnHeader">DB Server</h3>
<% if (minify) { %>
  <div>
    <ul>
      <% _.each(servers, function(v) { %>
        <li>
          <button id="<%=v.primary.name %>" class="server"><%=v.primary.name %></button>
        </li>
      <% }); %>
    </ul>
  </div>
<% } else { %>
  <% _.each(servers, function(v) { %>
    <div id="<%=v.primary.name %>" class="domino server">
      <span><%=v.primary.name%></span>
      <span><%=v.primary.url%></span>
      <% if (v.secondary) { %>
        <span><%=v.secondary.name%></span>
        <span><%=v.secondary.url%></span>
      <% } %>
    </div>
  <% }); %>
<% } %>
