<h3 class="clusterColumnHeader">Overview</h3>
<% var statusClass = function(s) {
    switch (s) {
      case "ok":
        return "success";
      case "warning": 
        return "warning";
      case "critical":
        return "danger";
    }
  };
%>
<% if(minify) { %>
<div>
  <ul>
    <li>
    <button id="dbserver" class="btn btn-overview btn-<%=statusClass(dbservers.status)%>"><span class="arangoicon icon_arangodb_database1 cluster_icon_small"><%=dbservers.having %>/<%=dbservers.plan %></span></button>
    </li>
    <li>
    <button id="coordinator" class="btn btn-overview btn-<%=statusClass(coordinators.status)%>"><span class="arangoicon icon_arangodb_compass cluster_icon_small"><%=coordinators.having %>/<%=coordinators.plan %></span></button>
    </li>
  </ul>
</div>
<% } else { %>
<div id="dbserver" class="tile tile-left btn-<%=statusClass(dbservers.status)%>">
  <span>Data Servers</span>
  <br>
  <br>
  <span class="arangoicon icon_arangodb_database1 cluster_icon_large"></span>
  <div id=dbserversAmounts" class="clusterAmounts">
    <%=dbservers.having %>/<%=dbservers.plan %>
  </div>
</div>
<div id="coordinator" class="tile tile-right btn-<%=statusClass(coordinators.status)%>">
  <span>Coordinators</span>
  <br>
  <br>
  <span class="arangoicon icon_arangodb_compass cluster_icon_large"></span>
  <div id=coordinatorAmounts" class="clusterAmounts">
    <%=coordinators.having %>/<%=coordinators.plan %>
  </div>
</div>
<% } %>
