<script id="collectionInfoView.ejs" type="text/template">
<%
    var roundNumber = function(number, n) {
      var factor;
      factor = Math.pow(10,n);
      var returnVal = (Math.round(number * factor) / factor);
      return returnVal;
    };

%>

<div id="show-collection" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <a class="arangoHeader" id="show-collection-name">Collection Info</a>
  </div>
	
  <div class="modal-body">

    <ul id="infoTab" class="nav nav-tabs">
      <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
      <li><a href="#figures" data-toggle="tab">Figures</a></li>
      <li><a href="#index" data-toggle="tab">Indexes</a></li>
    </ul>

    <div class="tab-content" id="tab-content-collection-info">
      
			<div class="tab-pane active" id="info">
        
        <table id="collectionInfoTable">
          <tr id="collectionSizeBox" style="display:none">
            <th class="collectionInfoTh2">Journal size (MB):</th>
            <th class="collectionInfoTh"><div id="show-collection-size" class="modal-text"/></th>
            <th class="tooltipInfoTh">
              <div>
                <a class="modalInfoTooltips" data-toggle="tooltip" data-placement="left" title="The maximal size of a journal or datafile (in MB). Must be at least 1.">
                  <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                </a>
              </div>
            </th>
          </tr>
          <tr id="collectionSyncBox" style="display:none">
            <th class="collectionInfoTh2">Wait for sync:</th>
            <th class="collectionInfoTh">
                <div id="show-collection-sync" class="modal-text"/>
            </th> 
            <th class="tooltipInfoTh">
              <div>
                <a class="modalInfoTooltips" data-toggle="tooltip" data-placement="left" title="Synchronise to disk before returning from a create or update of a document.">
                  <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                </a>
              </div>
            </th>
          </tr> 

          <tr>
            <th class="collectionInfoTh2">ID:</th>
            <th class="collectionInfoTh">
              <div id="show-collection-id" class="modal-text"/>
            <th>
          </tr>
         
          <tr id="collectionRevBox" style="display:none">
            <th class="collectionInfoTh2">Revision:</th>
            <th class="collectionInfoTh">
              <div id="show-collection-rev" class="modal-text"/>
            </th>
          </tr>

          <tr>
            <th class="collectionInfoTh2">Type:</th> 
            <th class="collectionInfoTh">
              <div id="show-collection-type" class="modal-text"/>
            </th>
          </tr>

          <tr>
            <th class="collectionInfoTh2">Status:</th>
            <th class="collectionInfoTh">
              <div id="show-collection-status" class="modal-text"/>
            </th>
          </tr>
        </table>
        
      </div>

      <div class="tab-pane" id="figures">
        <table id="figures1">
          <tr class="figuresHeader">
            <th class="">Type</th>
            <th>Count</th>
            <th>Size (MB)</th>
            <th>Info</th>
          </tr>
          <tr>
            <th class="modal-text">Datafiles</th>
            <th class="modal-text"><%=figuresData.figures.datafiles.count%></th>
            <th class="modal-text">
            <%=roundNumber(figuresData.figures.datafiles.fileSize / 1024 / 1024, 2)%>
            </th>
            <th class="tooltipInfoTh">
              <div>
                <a class="modalInfoTooltips" data-toggle="tooltip" data-placement="left" title="Number of active datafiles.">
                  <span class="arangoicon icon_arangodb_info"></span>
                </a>
              </div>
            </th>
          </tr>
          <tr>
            <th class="modal-text">Journals</th>
            <th class="modal-text"><%=figuresData.figures.journals.count%></th>
            <th class="modal-text">
            <%=roundNumber(figuresData.figures.journals.fileSize / 1024 / 1024, 2)%>
            </th>
            <th class="tooltipInfoTh">
              <a class="modalInfoTooltips" title="Number of journal files.">
                <span class="arangoicon icon_arangodb_info"></span></a>
            </th>
          </tr>
          <tr>
            <th class="modal-text">Compactors</th>
            <th class="modal-text"><%=figuresData.figures.compactors.count%></th>
            <th class="modal-text">
            <%=roundNumber(figuresData.figures.compactors.fileSize / 1024 / 1024, 2)%>
            </th>
            <th class="tooltipInfoTh">
              <a class="modalInfoTooltips" title="Number of compactor files.">
                <span class="arangoicon icon_arangodb_info"></span></a>
            </th>
          </tr>
          <tr>
            <th class="modal-text">Shape files</th>
            <th class="modal-text"><%=figuresData.figures.shapefiles.count%></th>
            <th class="modal-text">
            <%=roundNumber(figuresData.figures.shapefiles.fileSize / 1024 / 1024, 2)%>
            </th>
            <th class="tooltipInfoTh">
              <a class="modalInfoTooltips" title="Number of shape files.">
                <span class="arangoicon icon_arangodb_info"></span></a>
            </th>
          </tr>
        </table>

        <table id="figures2">
          <tr class="figuresHeader">
            <th>Type</th>
            <th>Count</th>
            <th>Info</th>
          </tr>
          <tr>
            <th class="modal-text">Shapes</th>
            <th class="modal-text"><%=figuresData.figures.shapes.count%></th>
            <th class="tooltipInfoTh">
              <a class="modalInfoTooltips" title="Total number of shapes used in the collection">
                <span class="arangoicon icon_arangodb_info"></span></a>
            </th>
          </tr>
          <tr>
            <th class="modal-text">Attributes</th>
            <th class="modal-text"><%=figuresData.figures.attributes.count%></th>
            <th class="tooltipInfoTh">
              <a class="modalInfoTooltips" title="Total number of attributes used in the collection">
                <span class="arangoicon icon_arangodb_info"></span></a>
            </th>
          </tr>
        </table>

        <table id="figures3">
          <tr class="figuresHeader">
            <th>Type</th>
            <th>Count</th>
            <th>Size (MB)</th>
            <th>Deletion</th>
            <th>Info</th>
          </tr>
          <tr>
            <th class="modal-text">Alive</th>
            <th class="modal-text"><%=figuresData.figures.alive.count%></th>
            <th class="modal-text">
            <%=roundNumber(figuresData.figures.alive.size/1024/1024, 2)%>
            </th>
            <th class="modal-text"> -</th>
            <th class="tooltipInfoTh">
              <a class="modalInfoTooltips" title="Total number and size used by all living documents.">
                <span class="arangoicon icon_arangodb_info"></span></a>
            </th>
          </tr>
          <tr>
            <th class="modal-text">Dead</th>
            <th class="modal-text"><%=figuresData.figures.dead.count%></th>
            <th class="modal-text">
            <%=roundNumber(figuresData.figures.dead.size/1024/1024, 2)%>
            </th>
            <th class="modal-text"><%=figuresData.figures.dead.deletion%></th>

            <th class="tooltipInfoTh">
              <div>
              <a class="modalInfoTooltips" title="Total number and size used by all dead documents.">
                <span class="arangoicon icon_arangodb_info"></span></a>
            </div>
            </th>

          </tr>
          <tr><th><div> </div></th></tr>
        </table>
      </div>
					
			<div class="tab-pane" id="index">
        <table id="collectionIndexTable">
          <tr class="figuresHeader">
            <th class="collectionInfoTh">ID</th>
            <th class="collectionInfoTh">Type</th>
            <th class="collectionInfoTh">Unique</th>
            <th class="collectionInfoTh">Fields</th>
          </tr>
        </table>
			</div>

	  </div>
  </div>
  <div id="colFooter" class="modal-footer">
    <button id="closeBtnInfoView"class="btn btn-close" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
</script>
