<script id="foxxInstalledView.ejs" type="text/template">
<div class="iconSet">
</div>
  <img src="foxxes/thumbnail/<%= attributes.app %>" height="50" width="50" alt="" class="icon">
<!--  <p class="foxxDescription">
    Description: <%=attributes.description %><br />
    <strong>Path:</strong>&nbsp;<%=attributes.path %><br />
    <strong>Version:</strong>&nbsp;<%=attributes.version %><br />
    Git: <a href=<%=attributes.git %>>Repository</a>
    </p> -->
    <div class="tileBadge">
      <button class="button-success install">Install</button>
    </div>
  <h5 class="collectionName"><%= attributes.name %><%= attributes.isSystem ? " (system)" : "" %> - v: <%= attributes.version %></h5>
</script>
