<script id="foxxInstalledView.ejs" type="text/template">
<div class="iconSet">
  <span class="icon_arangodb_settings2" alt="Edit foxx properties" title="Edit foxx properties"></span>
</div>
  <img src="foxxes/thumbnail/<%= attributes.app %>" height="50" width="50" alt="" class="icon">
<!--  <p class="foxxDescription">
    Description: <%=attributes.description %><br />
    <strong>Path:</strong>&nbsp;<%=attributes.path %><br />
    <strong>Version:</strong>&nbsp;<%=attributes.version %><br />
    Git: <a href=<%=attributes.git %>>Repository</a>
    </p> -->
    <div class="tileBadge">
      <!-- <button class="button-success install">Install</button>
        <% if (attributes.isSystem === false) { %>
          <button class="button-danger purge">Remove</button>
        <% } %>
        <% if (attributes.manifest.git) { %>
          <button class="button-warning update">Update</button>
        <% } %> -->
    </div>
  <h5 class="collectionName"><%= attributes.name %><%= attributes.isSystem ? " (system)" : "" %></h5>
</script>
