<script id="modalTable.ejs" type="text/template">
  <%
  var createTR = function(row) {
    var mandatory = '';
    if (row.mandatory) {
      mandatory = '*';
    }
    %>
      <tr>
        <th class="collectionTh"><%=row.label%><%=mandatory%>:</th>
        <th class="collectionTh">
          <%
            switch(row.type) {
              case "text":
          %>
          <input type="text" id="<%=row.id%>" value="<%=row.value||''%>" placeholder="<%=row.placeholder||''%>"></input>
          <%
              break;
            case "password":
          %>
          <input type="password" id="<%=row.id%>" value="<%=row.value||''%>" placeholder="<%=row.placeholder||''%>"></input>
          <%
              break;
            case "readonly":
          %>
          <div class="modal-text"><%=row.value||''%></div>
          <%
              break;
              case "checkbox":
                var checked = '',
                  disabled = '';
                if (row.checked) {
                  checked = 'checked';
                }
                if (row.disabled) {
                  disabled = 'disabled';
                }
          %>
          <input type="checkbox" id="<%=row.id%>" value="<%=row.value%>" <%=checked%> <%=disabled%>></input>
          <%
              break;
              case "select":
          %>
          <select id="<%=row.id%>" class="modalSelect">
          <%
                _.each(row.options, function(opt) {
          %>
            <option value="<%=opt.value%>" <%=row.selected === opt.value?"selected":""%>><%=opt.label%></option>
          <%
                });
          %>
          </select>
          <%
              break;
            }

            if (row.info) {
          %>
        <th>
      <div>
        <a class="modalTooltips" data-toggle="tooltip" data-placement="left" title="<%=row.info%>">
          <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
        </a>
    </div>
  </th>
      <%
        }
      %>
      </tr>
    <%
  }//createTR
  %>

  <table>
    <tbody>
      <%
      _.each(content, function(row) {
        createTR(row);
      });
      %>

    </tbody>
  </table>
    <%
    if (advancedContent) {
    %>
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <%=advancedContent.header%>
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse out">
          <div class="accordion-inner">
            <table>
              <tbody>
                <%
                _.each(advancedContent.content, function(row) {
                  createTR(row);
                });
                %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <%
    }
    %>
</script>