<script id="modalBase.ejs" type="text/template">
  <div class="modal hide fade createModalDialog" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <a class="arangoHeader"><%=title%>></a>
    </div>

    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <%
      _.each(buttons, function(value, key){
        var type = value.type,
          title = value.type,
          disabled = '';
          if (value.disabled) {
            disabled = 'disabled';
          }
        %>
      <button id="modalButton<%=key%>" class="<%=type%>" <%=disabled%>><%=title%></button>
      });
    </div>
  </div>
</script>