<script id="newDashboardView.ejs" type="text/template">
  <% var largeChart = function(name) { %>
    <div class="dashboard-large-chart dashboard-chart" id="<%= name %>Container">
      <div id="<%= name %>" class="dashboard-interior-chart"></div>
      <div class="dashboard-legend">
        <div class="dashboard-legend-inner" id="<%= name %>Legend"></div>
      </div>
    </div>
  <% } %>
  <% var smallChart = function(name) { %>
    <div class="dashboard-small-chart dashboard-chart"  id="<%= name %>Container">
			<div id="<%= name %>" class="dashboard-interior-chart">
					<svg></svg>
      </div>
      <div class="dashboard-legend">
        <div class="dashboard-legend-inner" id="<%= name %>Legend">
        </div>
      </div>
	  </div>
  <% } %>
  <% var tendency = function(title, name) { %>
    <div class="dashboard-half-height-chart dashboard-chart"  id="<%= name %>Container">
      <div class="dashboard-title-bar"><%= title %></div>
      <div class="dashboard-subtitle-bar">current</div>
      <div class="dashboard-subtitle-bar">15-min-avg</div>
      <div class="dashboard-tendency">
				<div class="dashboard-figure">
        <span id="<%= name %>Current"></span>
				</div>
      </div>
      <div class="dashboard-tendency">
				<div class="dashboard-figure">
        <span id="<%= name %>Average"></span>
				</div>
      </div>
    </div>
  <% } %>
  <div class="headerBar">
    <a class="arangoHeader">Request Statistics</a>
  </div>
  <div class="contentDiv">
    <div class="dashboard-row">
      <div class="dashboard-title-bar">Total Time in seconds</div>
      <% largeChart("totalTimeChart") %>
      <% smallChart("totalTimeDistribution") %>
    </div>
    <div class="dashboard-row">
      <div class="dashboard-title-bar">Data Transfer in Bytes</div>
      <% largeChart("dataTransferChart") %>
      <% smallChart("dataTransferDistribution") %>
    </div>
    <div class="dashboard-row">
      <div class="dashboard-title-bar">Requests</div>
      <% largeChart("requestsChart") %>
      <div class="dashboard-tendency-chart">
        <% tendency("Async Requests", "asyncRequests"); %>
        <% tendency("Client Connections", "clientConnections"); %>
      </div>
    </div>
  </div>
  <div class="headerBar">
    <a class="arangoHeader">System Resources</a>
  </div>
  <div class="dashboard-row">
    <div class="dashboard-tendency-chart dashboard-half-height-chart">
      <% tendency("Number of threads", "numberOfThreads"); %>
    </div>
    <div class="dashboard-tendency-chart dashboard-half-height-chart dashboard-chart" id="residentSizeChartContainer">
      <div class="dashboard-title-bar">Resident Size</div>
      <div id="residentSizeChart">
					<svg>
					</svg>
			</div>
    </div>
    <div class="dashboard-tendency-chart dashboard-half-height-chart">
      <% tendency("Virtual Size in GB", "virtualSize"); %>
    </div>
  </div>
  <div class="dashboard-row">
    <div class="dashboard-title-bar">
      <div class="dashboard-half-title-bar">Major Page Faults</div>
      <div class="dashboard-half-title-bar">System User Time in seconds</div>
    </div>
    <div class="dashboard-medium-chart dashboard-chart" id="pageFaultsChartContainer">
      <div id="pageFaultsChart" class="dashboard-interior-chart"></div>
      <div class="dashboard-legend">
        <div class="dashboard-legend-inner" id="pageFaultsChartLegend"></div>
      </div>
    </div>
    <div class="dashboard-medium-chart dashboard-chart" id="systemUserTimeChartContainer">
      <div id="systemUserTimeChart" class="dashboard-interior-chart"></div>
      <div class="dashboard-legend">
        <div class="dashboard-legend-inner" id="systemUserTimeChartLegend"></div>
      </div>
    </div>
  </div>
</script>
