<script id="userManagementView.ejs" type="text/template">
<div class="headerBar">
<!--  <div class="headerButtonBar">
    <ul class="headerButtonList">
      <li class="enabled">
        <a id="userManagementToggle" class="headerButton">
          <span class="icon_arangodb_settings2" title="Settings"></span>
        </a>
      </li>
    </ul>
  </div>-->

  <div class="pull-left">
    <a class="arangoHeader">User Management</a>
  </div>
  <div class="search-field">
    <input type="text" value="<%=searchString%>" id="userManagementSearchInput" class="search-input" placeholder="Search..."/><img id="userManagementSearchSubmit" class="search-submit-icon">
  </div>
</div>


<div id="userManagementDropdown2" class="headerDropdown">

  <div id="userManagementDropdown" class="dropdownInner">
    <ul>
      <li class="nav-header">Sorting</li>

      <li><a href="#">
        <label class="checkbox checkboxLabel">
          <input class="css-checkbox" type="checkbox" id="sortName">
          <label class="css-label css-label-round"></label>Sort by username
        </label>
      </a></li>

      <li><a href="#">
        <label class="checkbox checkboxLabel">
          <input class="css-checkbox" type="checkbox" id="sortType">
          <label class="css-label css-label-round"></label>Sort by status
        </label>
      </a></li>

      <li><a href="#">
        <label class="checkbox checkboxLabel">
          <input class="css-checkbox" type="checkbox" id="sortOrder">
          <label class="css-label"></label>Sort descending
        </label>
      </a></li>
    </ul>
  </div>

</div>


  <div class="contentDiv" id="arangoCollectionsContainer">
    <div id="userManagementThumbnailsIn" class="tileList">
      <div class="tile">
        <a href="#" id="createUser" class="add">
          <span id="newUser" class="pull-left icon_arangodb_roundplus arangoicon add-Icon"/>
          Add User
        </a>
      </div>


            <% collection.forEach(function(user) {
              var username = user.get("user"),
                extra = user.get("extra"),
                name = extra.name,
                img = extra.img,
                active = user.get("active"),
                avatar = '<img src="';

              if (!img) {
                avatar += 'img/arangodblogoAvatar_50.png';
              } else {
                avatar += 'https://s.gravatar.com/avatar/';
                avatar += img;
                avatar += '?s=50';
              }
              avatar += '" height="50" width="50" alt="" class="icon" id="';
              avatar += username;
              avatar += '" />';
              if (!name) {
                name = " ";
              }
      %>

      <div class="tile">
        <div class="iconSet">
          <span class="icon_arangodb_settings2 editUser" id="<%=username %>_edit-user" alt="Edit user" title="Edit user"></span>
        </div>
        <%=avatar %>
        <div class="tileBadge">
          <span>
            <%if (active) {%>
            <div class="corneredBadge loaded">
              active
            </div>
            <%} else {%>
            <div class="corneredBadge unloaded">
              inactive
            </div>
            <%}%>
          </span>
        </div>

        <h5 class="collectionName"><%=username %> <% if (name !== ' ') { %>(<%=name %>)<%}%></h5>
      </div>
      <%});%>
     </div>
  </div>


  <div id="createUserModal" class="modal hide fade createModalDialog" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <a class="arangoHeader">Create new user</a>
    </div>

    <div class="modal-body">
      <table>
        <tr>
          <th>Username*:</th>
          <th><input type="text" id="newUsername" name="username" value="" placeholder="Username"/></th>
        </tr>
        <tr>
          <th>Name:</th>
          <th><input type="text" id="newName" name="name" value="" placeholder="Name"/></th>
        </tr>
        <tr>
          <th>Password:</th>
          <th><input type="password" id="newPassword" name="password" value=""/></th>
        </tr>
        <tr>
          <th>Active:</th>
          <th><input type="checkbox" id="newStatus" name="status" value="active" checked="checked" /></th>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button class="button-close" data-dismiss="modal" aria-hidden="true">Close</button>
      <button id="submitCreateUser" class="button-success pull-right">Create</button>
    </div>
  </div>

  <div id="editUserModal" class="modal hide fade createModalDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <a class="arangoHeader">Edit user</a>
    </div>

    <div class="modal-body">
      <table>
        <tr>
          <th>Username:</th>
          <th id="editUsername"></th>
        </tr>
        <tr>
          <th>Name:</th>
          <th><input type="text" id="editName" name="name" value="" placeholder="Name"/></th>
        </tr>
        <tr>
          <th>Active:</th>
          <th><input type="checkbox" id="editStatus" name="status" value="active"/></th>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button class="button-close" data-dismiss="modal" aria-hidden="true">Close</button>
      <button id="submitEditUser" class="button-success pull-right">Save</button>
      <button id="deleteUser" class="button-danger pull-right">Delete</button>
    </div>
  </div>

  <div id="deleteUserModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <a class="arangoHeader">Delete User</a>
    </div>

    <div class="modal-body">
      <table>
        <tr>
          <th>Really delete?</th>
          <th></th>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button class="button-close" data-dismiss="modal" aria-hidden="true">Close</button>
      <button id="submitDeleteUser" class="button-danger pull-right">Delete</button>
    </div>
  </div>


<div id="editCurrentUserProfileModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <a class="arangoHeader">Edit User Profile</a>
  </div>

  <div class="modal-body">
    <table>
      <tr>
        <th>Username:</th>
        <th id="editCurrentUsername"></th>
      </tr>
      <tr>
        <th>Name:</th>
        <th><input type="text" id="editCurrentName" name="name" value="" placeholder="Name"/></th>
      </tr>
      <tr>
        <th>Gravatar account (Mail):</th>
        <th><input type="text" id="editCurrentUserProfileImg" name="img" value="" placeholder="myAccount@gravatar.com"/></th>
        <th class="tooltipInfoTh">
          <div>
            <a class="modalInfoTooltips" data-toggle="tooltip" data-placement="left"
               title="Mailaddress or its md5 representation of your gravatar account. The address will be converted into a md5 string. Only the md5 string will be stored, not the mailaddress.">
              <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
            </a>
          </div>
        </th>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="button-close" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="callEditUserPassword" class="button-danger pull-right">Change Password</button>
    <button id="submitEditCurrentUserProfile" class="button-success pull-right">Save</button>
  </div>
</div>

<div id="editUserPasswordModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <a class="arangoHeader">Edit User Password</a>
  </div>

  <div class="modal-body">
    <table>
      <tr>
        <th>Old Password:</th>
        <th><input type="password" id="oldCurrentPassword" name="oldPassword" value="" placeholder="old password"/></th>
      </tr>
      <tr>
        <th>New Password:</th>
        <th><input type="password" id="newCurrentPassword" name="newPassword" value="" placeholder="new password"/></th>
      </tr>
      <tr>
        <th>Confirm New Password:</th>
        <th><input type="password" id="confirmCurrentPassword" name="confirmPassword" value="" placeholder="confirm password"/></th>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="button-close" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="submitEditUserPassword" class="button-success pull-right">Save</button>
  </div>
</div>


</script>
