<script id="download.ejs" type="text/template">
<div class="headerBar">
  <a class="arangoHeader">Cluster Started - Download Configuration</a>
</div>

<div class="centralContent">
  <legend class="gv_inner">Your cluster has been started.</legend>

  <div class="important">
    <p>
    In order to manage your cluster later you have to save this configuration.
    Without this configuration you cannot shutdown or restart your cluster using this interface.
    </p>
    <button class="button-success" id="startDownload">Save Configuration</button>
  </div>

  <legend class="gv_inner">The following ArangoDBs have been started</legend>
    <div class="control-group">
      <label class="control-label">Cluster Overview</label>
      <div class="controls">
        <%
          var first = roles.indexOf("Coordinator");
          if (first > -1) {
        %>
          <a target="_blank" href="<%=endpoints[first]%>/_db/_system/_admin/aardvark/cluster.html">Cluster Overview</a>
        <% } %>
      </div>
    </div>
  <% for(var i = 0; i < endpoints.length; ++i) { %>
    <div class="control-group">
      <label for="host" class="control-label"><%= roles[i] %>:</label>
      <div class="controls">
        <% if(roles[i] === "DBserver") { %>
          <span><%= endpoints[i] %></span>
        <% } else { %>
          <a target="_blank" href="<%=endpoints[i]%>"><%= endpoints[i] %></a>
        <% } %>
      </div>
    </div>
  <% } %>
</div>
</script>
