<script id="showCluster.ejs" type="text/template">
<% var statusClass = function(s) {
    switch (s) {
      case "ok":
        return "success";
      case "warning": 
        return "warning";
      case "critical":
        return "danger";
      case "missing":
        return "inactive";
    }
  };
%>
<div class="headerBar">
  <a class="arangoHeader">Cluster Dashboard</a>
  <div class="headerButtonBar pull-right">
    <select id="selectDB">
      <% _.each(dbs, function(d) { %>
        <option id="<%=d%>" <%=(d === "_system")?"checked":""%> ><%=d%></option>
      <% }); %>
    </select>
    <select id="selectCol">
    </select>
  </div>
</div>
<ul id="clusterLayout" class="tileList">
  <% if(type === "testPlan") { 
    _.each(byAddress, function(s, a) { 
      _.each(s.coords, function(c) {
        var url = c.get("protocol")
          + "://"
          + c.get("address")
          + "/_db/_system/_admin/aardvark/standalone.html"
          + "#collections";
    %>
      <li class="tile">
        <a class="coordinator single <%=statusClass(c.get('status'))%>" id="<%=c.get('address')%>">
          <span class="fa fa-compass icon"></span>
        </a>
        <h5 class="collectionName"><%=c.get("name")%> <a href="<%=url%>" target="_blank" class="button-gui">GUI</a></h5>
      </li>
    <%
      });
      _.each(s.dbs, function(c) {
    %>
      <li class="tile">
        <a class="dbserver single <%=statusClass(c.get('status'))%>" id="<%=c.get('address')%>">
          <img src="img/databaseIcon.svg" class="icon svgToReplace"/>
        </a>
        <h5 class="collectionName"><%=c.get("name")%> (Shards: <span id="<%=c.get("name")%>Shards" class="shardCounter"/>)</h5>
      </li>
    <%
        });
      });
    } else { 
      _.each(byAddress, function(s, a) { 
        var url;
        var type = "single";
        if (s.coords && s.dbs) {
          type = "double";
        }
  %>
      <li class="tile">
        <% _.each(s.coords, function(c) {
          url = c.get("protocol")
            + "://"
            + c.get("address")
            + "_db/_system/_admin/aardvark/standalone.html"
            + "#collections";
        %>
          <a class="coordinator <%=type%> <%=statusClass(c.get('status'))%>" id="<%=c.get('address')%>" title="<%=c.get('name')%>">
            <span class="fa fa-compass icon"></span>
          </a>
        <% });
          var dbName = "";
          _.each(s.dbs, function(c) {
            dbName = c.get("name");
        %>
          <a class="dbserver <%=type%> <%=statusClass(c.get('status'))%>" id="<%=c.get('address')%>" title="<%=c.get('name')%>">
            <img src="img/databaseIcon.svg" class="icon svgToReplace"/>
          </a>
        <% }); %>
      <h5 class="collectionName"><%=a%> <%=dbName!==""?"(Shards: <span id=\"" + dbName + "Shards\" class=\"shardCounter\"/>)":""%><a class="button-gui" href="<%=url%>" target="_blank">GUI</a></h5>
      </li>
    <%
    });
  }
  %>
</ul>

<div class="headerBar">
  <a class="arangoHeader">Cluster Statistics</a>
</div>
<div class="resizecontainer">
  <div class="dashboardChart">
    <div id="clusterGraphs" class="innerDashboardChart">
      <div>Virtual Memory Size</div>
    </div>
  </div>
  <div class="dashboardChart">
    <div id="lineGraph" class="innerDashboardChart">
    </div>
  </div>
</div>
</script>
