<% var statusClass = function(s) {
    switch (s) {
      case "ok":
        return "success";
      case "warning": 
        return "warning";
      case "critical":
        return "danger";
    }
  };
%>
<ul class="thumbnails2">
  <div class="headerBar">
    <a class="arangoHeader">Cluster Dashboard</a>
  </div>
</ul>
<ul id="clusterLayout" class="tileList">
  <% if(type === "testPlan") { 
    _.each(byAddress, function(s, a) { 
      _.each(s.coords, function(c) {
    %>
      <li class="tile">
        <div class="coordinator <%=statusClass(c.get('status'))%>">
          <span class="clusterInfoIcon icon_arangodb_compass"></span>
        </div>
        <h5 class="collectionName"><%=c.get("name")%></h5>
      </li>
    <%
      });
      _.each(s.dbs, function(c) {
    %>
      <li class="tile">
        <div class="dbserver <%=statusClass(c.get('status'))%>">
          <span class="clusterInfoIcon icon_arangodb_database1"></span>
        </div>
        <h5 class="collectionName"><%=c.get("name")%></h5>
      </li>
    <%
        });
      });
    } else { 
      _.each(byAddress, function(s, a) { 
  %>
      <li class="tile">
        <% _.each(s.coords, function(c) { %>
          <div class="coordinator <%=statusClass(c.get('status'))%>">
            <span class="clusterInfoIcon icon_arangodb_compass"></span>
            <h6 class="serverName"><%=c.get("name")%></h6>
          </div>
        <% }); %>
        <% _.each(s.dbs, function(c) { %>
          <div class="dbserver <%=statusClass(c.get('status'))%>">
            <span class="clusterInfoIcon icon_arangodb_database1"></span>
            <h6 class="serverName"><%=c.get("name")%></h6>
          </div>
        <% }); %>
        <h5 class="collectionName"><%=a%></h5>
      </li>
    <%
    });
  }
  %>
</ul>
<div class="headerBar">
  <a class="arangoHeader">Cluster Statistics</a>
</div>
<div id="clusterGraphs">

</div>
<div id="lineGraph">

</div>
