<script id="showShards.ejs" type="text/template">
<div class="headerBar">
  <a class="arangoHeader">Shard Overview</a>
  <div class="headerButtonBar pull-right">
    <select id="selectDB">
      <% _.each(dbs, function(d) { %>
        <option id="<%=d%>" <%=(d === "_system")?"checked":""%> ><%=d%></option>
      <% }); %>
    </select>
    <select id="selectCol">
    </select>
  </div>
</div>
<ul id="clusterServers" class="tileList">
  <% 
    _.each(names, function(n) { 
  %>
    <li class="bigtile">
      <div class="shardContainer" id="<%=n%>Shards">
      </div>
      <h5 class="collectionName"><%=n%></h5>
    </li>
  <%
    });
  %>
</ul>
</script>
