<script id="applicationDetailView.ejs" type="text/template">
  <div class="application-detail-view">
    <div class="headerBar">
      <div class="headerButtonBar">
        <ul class="headerButtonList">
          <li class="enabled">
            <a id="configure-app" class="headerButton">
              <span class="icon_arangodb_settings2" title="Configure"></span>
            </a>
          </li>
          <li id="app-scripts" class="enabled dropdown app-scripts">
            <a class="headerButton">
              <i class="fa fa-file-code-o"></i>
            </a>
            <ul class="script-dropdown-menu" id="scripts_dropdown">
              <li class="dropdown-item">
                <a id="app-setup" class="tab">Setup</a>
              </li>
              <li class="dropdown-item">
                <a id="app-teardown" class="tab">Teardown</a>
              </li>
            </ul>
          </li>
          <li>
            <a id="download-app" class="headerButton <%= app.isSystem()?'disabled':'' %>">
              <span class="fa fa-download" title="Download"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="breadcrumb">
        <a class="activeBread" href="#applications">Applications</a>
        <span class="disabledBread">&gt;</span>
        <span class="disabledBread">
          <%= app.attributes.mount %>
        </span>
        <span class="disabledBread" id="app-development-indicator" style="display:<%=app.get('development')?'inline':'none' %>;">
          (development) Location: 
        </span>
        <span class="disabledBread" id="app-development-path" style="display:<%=app.get('development')?'inline':'none' %>;">
          <%= app.get("path")%>
        </span>
      </div>
    </div>
    <div></div>
    <section class="info">
      <div class="header">
        <div class="header-icon-container">
          <img src="foxxes/thumbnail?mount=<%= app.encodedMount() %>" alt="Icon for App" class="icon" />
        </div>
        <div class="header_left">
          <input type="button" class="open button-success" disabled="true" value="Open" />
          <input id="app-upgrade" type="button" class="upgrade button-warning" value="Upgrade" <%=app.isSystem()?"disabled":"" %>/>
          <input id="app-switch-mode" type="button" class="switch-mode button-warning" value="<%=app.get('development')?'Set Pro':'Set Dev'%>" />
          <input type="button" class="delete button-danger" value="Delete" <%=app.isSystem()?"disabled":""%> />
        </div>
        <div class="header_right">
          <h3>
            <%= app.attributes.name %>
          </h3>
          <h3>
            <% if (app.attributes.license) { %>
              <span class="license"><%= app.attributes.license %></span>
            <% } %>
          </h3>
          <h3>
            <span class="version"><%= app.attributes.version %></span>
          </h3>
          <p class="description"><%= app.attributes.description %></p>
        </div>
      </div>
      <div class="swagger">
        <iframe src="/_db/<%= db%>/_admin/aardvark/documentation.html?path=<%= encodeURIComponent(app.encodedMount()) %>" name="Documentation"></iframe>
      </div>
    </section>
    <aside class="meta">
      <dl>
        <dt>Author</dt>
        <dd><%= app.attributes.author %></dd>
        <dt>Contributors</dt>
        <dd>
          <% if (app.attributes.contributors && app.attributes.contributors.length > 0) { %>
          <ul>
          <% _.each(app.attributes.contributors, function (contributor) { %>
            <li><a href="mailto:<%= contributor.email %>"><%= contributor.name %></a></li>
          <% }); %>
          </ul>
          <% } else { %>
          No contributors
          <% } %>
        </dd>
        <dt>Links</dt>
        <dd>
          <ul>
            <li>
              <a href="./foxxes/docu<%= app.attributes.mount %>" target="_blank">
                Download API Documentation
              </a>
            </li>
            <% if (app.attributes.repository && app.attributes.repository.type == 'git') { %>
              <li><a href="<%= app.attributes.repository.url %>" target="_blank">Git Repository</a></li>
            <% } %>
          </ul>
        </dd>
      </dl>
    </aside>
  </div>
</script>
