<script id="applicationDetailView.ejs" type="text/template">
  <div class="application-detail-view">
    <div class="headerBar">
      <div class="headerButtonBar">
        <ul class="headerButtonList">
          <li>
            <a id="app-config" class="headerButton <%= _.isEmpty(app.get('config')) ? 'disabled' : '' %>">
              <span class="icon_arangodb_settings2" title="Configure"></span>
            </a>
          </li>
          <li>
            <a id="app-deps" class="headerButton <%= _.isEmpty(app.get('deps')) ? 'disabled' : '' %>">
              <span class="fa fa-cubes" title="Dependencies"></span>
            </a>
          </li>
          <li id="app-scripts" class="dropdown">
            <a class="headerButton <%= _.isEmpty(app.get('scripts')) ? 'disabled' : '' %>" title="Scripts">
              <i class="fa fa-cogs"></i>
            </a>
            <ul class="script-dropdown-menu dropdown-menu" id="scripts_dropdown">
            <% _.each(app.get('scripts'), function (title, name) { %>
              <li class="dropdown-item">
                <a class="tab" data-script="<%= name %>"><%= title %></a>
              </li>
            <% }) %>
            </ul>
          </li>
          <li>
            <a id="app-tests" class="headerButton">
              <span class="fa fa-flask" title="Tests"></span>
            </a>
          </li>
          <li>
            <a id="download-app" class="headerButton <%= app.isSystem() ? 'disabled' : '' %>">
              <span class="fa fa-download" title="Download"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="breadcrumb">
        <a class="activeBread" href="#applications">Applications</a>
        <span class="disabledBread">&gt;</span>
        <span class="disabledBread">
          <%= app.attributes.mount %>
        </span>
        <span class="disabledBread" id="app-development-indicator" style="display:<%=app.get('development')?'inline':'none' %>;">
          (development) Location: 
        </span>
        <span class="disabledBread" id="app-development-path" style="display:<%=app.get('development')?'inline':'none' %>;">
          <%= app.get("path")%>
        </span>
      </div>
    </div>
    <div></div>
    <section class="info">
      <div class="header">
        <div class="header-icon-container">
          <img src="foxxes/thumbnail?mount=<%= app.encodedMount() %>" alt="Icon for App" class="icon" />
        </div>
        <div class="header_left">
          <input type="button" class="open button-success" disabled="true" value="Open" />
          <input id="app-upgrade" type="button" class="upgrade button-warning" value="Upgrade" <%=app.isSystem()?"disabled":"" %>/>
          <input id="app-switch-mode" type="button" class="switch-mode button-warning" value="<%=app.get('development')?'Set Pro':'Set Dev'%>" />
          <input type="button" class="delete button-danger" value="Delete" <%=app.isSystem()?"disabled":""%> />
        </div>
        <div class="header_right">
          <div class="header_line">
            <h3>
              <%= app.attributes.name %>
            </h3>
            <h3>
              <% if (app.attributes.license) { %>
                <span class="license"><%= app.attributes.license %></span>
              <% } %>
            </h3>
            <h3>
              <span class="version"><%= app.attributes.version %></span>
            </h3>
          </div>
          <p class="description"><%= app.attributes.description %></p>
        </div>
        <div id="app-warning" class="app-warning" style="display:<%=app.needsAttention()?'block':'none' %>;">
          <h4>Out of order</h4>
          <p id="app-warning-broken" style="display:<%=app.isBroken()?'block':'none' %>;">This app has failed to mount due to an error.</p>
          <p id="app-warning-config" style="display:<%=app.needsConfiguration()?'block':'none' %>;">This app has not yet been configured properly.</p>
          <p id="app-warning-deps" style="display:<%=app.hasUnconfiguredDependencies()?'block':'block' %>;">Some dependencies have not yet been set up.</p>
        </div>
      </div>
      <div class="swagger">
        <iframe src="/_db/<%= db%>/_admin/aardvark/foxxes/docs/index.html?mount=<%= encodeURIComponent(app.get('mount')) %>" name="Documentation"></iframe>
      </div>
    </section>
    <aside class="meta">
      <dl>
        <dt>Author</dt>
        <dd><%= app.attributes.author %></dd>
        <dt>Contributors</dt>
        <dd>
          <% if (app.attributes.contributors && app.attributes.contributors.length > 0) { %>
          <ul>
          <% _.each(app.attributes.contributors, function (contributor) { %>
            <li><a href="mailto:<%= contributor.email %>"><%= contributor.name %></a></li>
          <% }); %>
          </ul>
          <% } else { %>
          No contributors
          <% } %>
        </dd>
        <dt>Links</dt>
        <dd>
          <ul>
            <li>
              <a href="./foxxes/docs/standalone/index.html?mount=<%= encodeURIComponent(app.get('mount')) %>" target="_blank">
                API Documentation
              </a>
            </li>
            <li>
              <a href="./foxxes/docs/swagger.json?mount=<%= encodeURIComponent(app.get('mount')) %>" target="_blank">
                Swagger JSON
              </a>
            </li>
            <% if (app.attributes.repository && app.attributes.repository.type == 'git') { %>
              <li><a href="<%= app.attributes.repository.url %>" target="_blank">Git Repository</a></li>
            <% } %>
          </ul>
        </dd>
      </dl>
    </aside>
  </div>
</script>
