  <div class="paddingBox">
    <div class="foxxDesc">
      <p><span class="foxxMount"><%=model.get("mount")%></span></p>
      <p><span class="foxxName"><%=model.get("name")%></span></p>
      <p><span class="foxxName"><%=model.get("version")%></span></p>
      <!--<p><span class="foxxCategory"><%=model.get("category")%></span></p>-->
    </div>
    <!-- <div class="foxxActions"><button class="installFoxx button-success" appId="<%=model.name %>" appVersion="<%=model.latestVersion%>" >Interface</button></div>-->
    <div class="borderBox"></div>
    <img src="<%= model.thumbnailUrl %>" height="50" width="50" alt="Icon for Service" class="icon">
    <% if(model.isDevelopment()) { %>
      <div class="tileBadge">
        <span>
          <div class="corneredBadge development">
            Development
          </div>
        </span>
      </div>
    <% } else { %>
      <div class="tileBadge">
        <span>
          <div class="corneredBadge production">
            Production
          </div>
        </span>
      </div>
    <% } %>
  </div>
