<script id="graphSettingsView.ejs" type="text/template">

  <% var genClass = 'pure-u-1-2'; %>

  <% var formatName = function(name) { %>
    <% var formattedName = %>
    <% return name.charAt(0).toUpperCase() + string.slice(1);%>
  <% }; %>

  <div id="shardsContent" class="innerContent">
    
    <div class="pure-g" style="margin-top: -15px">

      <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-1 pure-u-xl-1-2">
    
        <div class="sectionHeader pure-g">
          <div class="pure-u-1-1">
            <div class="title">
              Graph specific
            </div>
          </div>
        </div>

        <div class="pure-g pure-table pure-table-header pure-title">
          <div class="pure-table-row">
            <div class="<%= genClass %> left">Name</div>
            <div class="<%= genClass %> left">Property</div>
          </div>
        </div>
     
        <div class="pure-g pure-table pure-table-body">
          <% _.each(specific, function(val, key) { %>
            <div class="<%= genClass %> left"><%=val.name%></div>
            <div class="<%= genClass %> left">


              <% var VALUE; %>
              <% if (val.value) { %>
                <% VALUE = val.value %>
              <% } else { %>
                <% VALUE = val.default %>
              <% } %>

              <% if (val.type === 'string') { %>
                <input type="text" value="<%=VALUE%>" placeholder=""></input>
              <% } %>

              <% if (val.type === 'color') { %>
                <input type='color' name='color' value="<%=VALUE%>"/>
              <% } %>

              <% if (val.type === 'select') { %>
                <div class="<%= genClass %> left">
                  <select>
                    <% _.each(val, function(option, optKey) { %>
                      <% if (option.name) { %>
                        <option> <%=option.name%> </option>
                      <% } %>
                    <% }); %>
                  </select>
                </div>
              <% } %>

            </div>
          <% }); %>
        </div>

      </div>

      <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-1 pure-u-xl-1-2">
    
        <div class="sectionHeader pure-g">
          <div class="pure-u-1-1">
            <div class="title">
              General
            </div>
          </div>
        </div>

        <div class="pure-g pure-table pure-table-header pure-title">
          <div class="pure-table-row">
            <div class="<%= genClass %> left">Name</div>
            <div class="<%= genClass %> left">Property</div>
          </div>
        </div>
     
        <div class="pure-g pure-table pure-table-body">

          <% _.each(general, function(val, key) { %>
            <div class="<%= genClass %> left"><%=key%></div>

              <% if (val.type === 'select') { %>
                <div class="<%= genClass %> left">
                  <select>
                    <% _.each(val, function(option, optKey) { %>
                      <% if (option.name) { %>
                        <option> <%=option.name%> </option>
                      <% } %>
                    <% }); %>
                  </select>
                </div>
              <% } %>

              <% if (val.type === 'numeric') { %>
                <input type="text" id="<%=val %>" value="<%=val.value %>" placeholder=""></input>
              <% } %>

          <% }); %>
        </div>

      </div>

    <button id="saveGraphSettings" style="margin-top: 20px;" class="button-success pull-right">Save</button>
    <button id="saveGraphSettings" style="margin-top: 20px;" class="button-success pull-right">Restore defaults</button>
  </div>

</script>
