<%
let tableStyle = '';
let textStyle = '';
let buttonText = '';

if (activeView === "text") {
  tableStyle = "display: none;";
  buttonText = "Show Table";
} else {
  textStyle = "display: none;";
  buttonText = "Show Text";
}
%>

<div id="metricContent" style="padding-top: 0;">

  <div class="bottomButtonBar">
    <button id="downloadAs" class="pull-right button-success">Download</button>
    <button id="reloadMetrics" class="pull-right button-success">Reload</button>
    <button id="toggleView" class="pull-right button-close"><%= buttonText %></button>
  </div>

  <div id="metricsAsTable" style="<%= tableStyle %>">
    <div class="header first">Counters</div>
    <div class="pure-g" style="background: white; padding-top: 10px;">
      <div id="<%= name %>" class="metricsBox pure-u-1-1">
        <table class="pure-table pure-table-metrics-counter">
          <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Info</th>
            <th>Role</th>
            <th>Shortname</th>
          </tr>
          </thead>
          <tbody>

          <% _.each(collection.where({type: "COUNTER"}), (model) => { %>
            <tr>
              <td><%= model.get('name') %></td>
              <td><%= model.get('metrics')[0].value %></td>
              <td><%= model.get('info') %></td>
              <% if (model.get('metrics')[0].hasOwnProperty('labels')) { %>
                <td><%= JSON.stringify(model.get('metrics')[0].labels.role) %></td>
                <td><%= JSON.stringify(model.get('metrics')[0].labels.shortname) %></td>
              <% } else { %>
                <td><span class="emptySpanEntry">empty</span></td>
                <td><span class="emptySpanEntry">empty</span></td>
              <% } %>
            </tr>

          <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="header child">Gauges</div>
    <div class="pure-g pure-table-metrics-gauge" style="letter-spacing: normal; box-sizing: border-box;">
      <% let entries = collection.where({type: "GAUGE"}); %>
      <div class="metricsBox pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-1 pure-u-xl-1-2">
        <table class="pure-table" style="display: table; border-right: 10px solid #fff;">
          <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody>
          <%
          let counter = 0;
          _.each(entries, (model) => {
          if (counter % 2 === 0) {
          %>
            <tr>
              <td><%= model.get('name') %></td>
              <td><%= model.get('metrics')[0].value %></td>
            </tr>
          <%
          }
            counter++;
          });
          %>
          </tbody>
        </table>
      </div>
      <div class="metricsBox pure-u-1-1 pure-u-md-1-2">
        <table class="pure-table" style="display: table;">
          <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody>
          <%
          let countersecond = 0;
          _.each(entries, (model) => {
          if (countersecond % 2 !== 0) {
          %>
            <tr>
              <td><%= model.get('name') %></td>
              <td><%= model.get('metrics')[0].value %></td>
            </tr>
          <%
          }
            countersecond++;
          });
          %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="header child">Histograms</div>
    <div class="pure-g" style="background: white; padding-top: 10px;">
      <% _.each(collection.where({type: "HISTOGRAM"}), (model) => {console.log(model.toJSON()); %>
      <div id="<%= name %>" class="metricsBox pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2">
        <div class="tableHeader"><%= model.get("name") %> (<%= model.get("metrics")[0].count || 0%>): <div
            style="font-weight: 100"><%= model.get("info") %></div>
        </div>
        <table class="pure-table pure-table-metrics-histogram">
          <thead>
          <tr>
            <th>Bucket</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody>

          <% _.forEach(model.get("metrics")[0].buckets, (value, key) => { %>
            <tr>
              <td><%= key %></td>
              <td><%= value %></td>
            </tr>
          <% }); %>

          </tbody>
        </table>
      </div>
      <% }); %>

    </div>
  </div>

  <div id="metricsAsText" style="<%= textStyle %>">
    <pre><%= collection.metricsAsText() %></pre>
  </div>

</div>