<%
let tableStyle = '';
let textStyle = '';
let buttonText = '';

if (activeView === "text") {
  tableStyle = "display: none;";
  buttonText = "Show Table";
} else {
  textStyle = "display: none;";
  buttonText = "Show Text";
}
%>

<div id="metricContent" style="padding-top: 0;">

  <div class="bottomButtonBar">
    <button id="downloadAs" class="pull-right button-success">Download</button>
    <button id="reloadMetrics" class="pull-right button-success">Reload</button>
    <button id="toggleView" class="pull-right button-close"><%= buttonText %></button>
  </div>

  <div id="metricsAsTable" style="<%= tableStyle %>">
    <div class="header first">Counters</div>
    <div class="pure-g" style="background: white; padding-top: 10px;">
      <div id="<%= name %>" class="metricsBox pure-u-1-1">
        <table class="pure-table pure-table-metrics-counter">
          <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Info</th>
          </tr>
          </thead>

          <tbody>
          <% _.each(collection.where({type: "COUNTER"}), (model) => { %>
            <tr>
              <td><%= model.get('name') %></td>
              <td class="alignRight"><%= model.get('metrics')[0].value %></td>
              <td><%= model.get('info') %></td>
            </tr>
          <% }); %>
          </tbody>

          <tbody>
          <tr>
            <td style="border-right: 0; border-bottom: 1px solid rgba(0, 0, 0, .3);">
              <div class="header">Gauges</div>
            </td>
            <td style="border-left: 0; border-bottom: 1px solid rgba(0, 0, 0, .3);">
              <div class="header"></div>
            </td>
            <td style="border-left: 0; border-bottom: 1px solid rgba(0, 0, 0, .3);">
              <div class="header"></div>
            </td>
          </tr>
          </tbody>

          <tbody>
          <% _.each(collection.where({type: "GAUGE"}), (model) => { %>
            <tr>
              <td><%= model.get('name') %></td>
              <td class="alignRight"><%= model.get('metrics')[0].value %></td>
              <td><%= model.get('info') %></td>
            </tr>
          <% }); %>
          </tbody>

        </table>
      </div>
    </div>

    <div class="header child">Histograms</div>
    <div class="pure-g" style="background: white; padding-top: 10px;">
      <% _.each(collection.where({type: "HISTOGRAM"}), (model) => { %>
        <div id="<%= name %>" class="metricsBox pure-u-1-1 pure-u-sm-1-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-3">
          <%
            let count = model.get("metrics")[0].count;
            if (!count) {
              count = 0;
              _.forEach(model.get("metrics")[0].buckets, (value, key) => {
                try {
                  count += Number.parseFloat(value);
                } catch (e) {
                  count = 'n/A';
                }
              });
            }
          %>
          <div class="tableHeader"><%= model.get("name") %> (<%= count %>)
            <div
              style="font-weight: 100"><%= model.get("info") %></div>
          </div>
          <table class="pure-table pure-table-metrics-histogram">
            <thead>
            <tr>
              <th>Bucket</th>
              <th>Value</th>
            </tr>
            </thead>
            <tbody>

            <% _.forEach(model.get("metrics")[0].buckets, (value, key) => { %>
              <tr>
                <td class="alignRight">&lt;=<%= key %></td>
                <td class="alignRight"><%= value %></td>
              </tr>
            <% }); %>

            </tbody>
          </table>
        </div>
      <% }); %>

    </div>
  </div>

  <div id="metricsAsText" style="<%= textStyle %>">
    <pre><%= collection.metricsAsText() %></pre>
  </div>

</div>
