<script id="modalCollectionInfo.ejs" type="text/template">
<%
    var roundNumber = function(number, n) {
      var factor;
      factor = Math.pow(10,n);
      var returnVal = (Math.round(number * factor) / factor);
      return returnVal;
    };

    var figuresData = content.getFigures();
    var revision    = content.getRevision();
    var index       = content.getIndex();

%>

    <ul id="infoTab" class="nav nav-tabs">
      <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
      <li><a href="#figures" data-toggle="tab">Figures</a></li>
      <li><a href="#index" data-toggle="tab">Indexes</a></li>
    </ul>

    <div class="tab-content" id="tab-content-collection-info">

			<div class="tab-pane active" id="info">

        <table id="collectionInfoTable">
          <tr id="collectionSizeBox">
            <th class="collectionInfoTh2">Journal size (MB):</th>
            <th class="collectionInfoTh">
              <div id="show-collection-size" class="modal-text">
                <%=roundNumber(figuresData.journalSize / 1024 / 1024, 2)%>
              </div>
            </th>
            <th class="tooltipInfoTh">
              <div>
                <a class="modalTooltips" data-toggle="tooltip" data-placement="left" title="The maximal size of a journal or datafile (in MB). Must be at least 1.">
                  <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                </a>
              </div>
            </th>
          </tr>
          <tr id="collectionSyncBox">
            <th class="collectionInfoTh2">Wait for sync:</th>
            <th class="collectionInfoTh">
                <div id="show-collection-sync" class="modal-text">
                  <%=figuresData.waitForSync%>
                </div>
            </th>
            <th class="tooltipInfoTh">
              <div>
                <a class="modalTooltips" data-toggle="tooltip" data-placement="left" title="Synchronise to disk before returning from a create or update of a document.">
                  <span rel="tooltip" class="arangoicon icon_arangodb_info"></span>
                </a>
              </div>
            </th>
          </tr>

          <tr>
            <th class="collectionInfoTh2">ID:</th>
            <th class="collectionInfoTh">
              <div id="show-collection-id" class="modal-text">
                <%=content.get("id")%>
              </div>
            <th>
          </tr>

          <tr id="collectionRevBox">
            <th class="collectionInfoTh2">Revision:</th>
            <th class="collectionInfoTh">
              <div id="show-collection-rev" class="modal-text">
                <%=revision.revision%>
              </div>
            </th>
          </tr>

          <tr>
            <th class="collectionInfoTh2">Type:</th>
            <th class="collectionInfoTh">
              <div class="modal-text"><%=content.get("type")%></div>
            </th>
          </tr>

          <tr>
            <th class="collectionInfoTh2">Status:</th>
            <th class="collectionInfoTh">
              <div class="modal-text"><%=content.get("status")%></div>
            </th>
          </tr>
        </table>

      </div>

      <div class="tab-pane collection-info-figures" id="figures">
        <table class="figures1">
          <tr class="figuresHeader">
            <th class="">Type</th>
            <th>Count</th>
            <th>Size (MB)</th>
            <th>Info</th>
          </tr>
          <tr>
            <th class="modal-text">Datafiles</th>
            <th class="modal-text"><%=figuresData.figures.datafiles.count%></th>
            <th class="modal-text">
            <%=roundNumber(figuresData.figures.datafiles.fileSize / 1024 / 1024, 2)%>
            </th>
            <th class="tooltipInfoTh">
              <div>
                <a class="modalTooltips" data-toggle="tooltip" data-placement="left" title="Number and total size of active datafiles.">
                  <span class="arangoicon icon_arangodb_info"></span>
                </a>
              </div>
            </th>
          </tr>
          <tr>
            <th class="modal-text">Journals</th>
            <th class="modal-text"><%=figuresData.figures.journals.count%></th>
            <th class="modal-text">
            <%=roundNumber(figuresData.figures.journals.fileSize / 1024 / 1024, 2)%>
            </th>
            <th class="tooltipInfoTh">
              <a class="modalTooltips" title="Number and total size of journal files.">
                <span class="arangoicon icon_arangodb_info"></span></a>
            </th>
          </tr>
          <tr>
            <th class="modal-text">Compactors</th>
            <th class="modal-text"><%=figuresData.figures.compactors.count%></th>
            <th class="modal-text">
            <%=roundNumber(figuresData.figures.compactors.fileSize / 1024 / 1024, 2)%>
            </th>
            <th class="tooltipInfoTh">
              <a class="modalTooltips" title="Number and total size of compactor files.">
                <span class="arangoicon icon_arangodb_info"></span></a>
            </th>
          </tr>
          <tr>
            <th class="modal-text">Shape files</th>
            <th class="modal-text"><%=figuresData.figures.shapefiles.count%></th>
            <th class="modal-text">
            <%=roundNumber(figuresData.figures.shapefiles.fileSize / 1024 / 1024, 2)%>
            </th>
            <th class="tooltipInfoTh">
              <a class="modalTooltips" title="Number and total size of shape files.">
                <span class="arangoicon icon_arangodb_info"></span></a>
            </th>
          </tr>
          <tr>
            <th class="modal-text">Indexes</th>
            <th class="modal-text"><%=figuresData.figures.indexes.count%></th>
            <th class="modal-text">
            <%=roundNumber(figuresData.figures.indexes.size / 1024 / 1024, 2)%>
            </th>
            <th class="tooltipInfoTh">
              <a class="modalTooltips" title="Number and total memory usage of indexes.">
                <span class="arangoicon icon_arangodb_info"></span></a>
            </th>
          </tr>
        </table>

        <table class="figures2">
          <tr class="figuresHeader">
            <th>Type</th>
            <th>Count</th>
            <th>Info</th>
          </tr>
          <tr>
            <th class="modal-text">Shapes</th>
            <th class="modal-text"><%=figuresData.figures.shapes.count%></th>
            <th class="tooltipInfoTh">
              <a class="modalTooltips" title="Total number of shapes in the collection">
                <span class="arangoicon icon_arangodb_info"></span></a>
            </th>
          </tr>
          <tr>
            <th class="modal-text">Attributes</th>
            <th class="modal-text"><%=figuresData.figures.attributes.count%></th>
            <th class="tooltipInfoTh">
              <a class="modalTooltips" title="Total number of attributes in the collection">
                <span class="arangoicon icon_arangodb_info"></span></a>
            </th>
          </tr>
        </table>

        <table class="figures3">
          <tr class="figuresHeader">
            <th>Type</th>
            <th>Count</th>
            <th>Size (MB)</th>
            <th>Deletion</th>
            <th>Info</th>
          </tr>
          <tr>
            <th class="modal-text">Alive</th>
            <th class="modal-text"><%=figuresData.figures.alive.count%></th>
            <th class="modal-text">
            <%=roundNumber(figuresData.figures.alive.size/1024/1024, 2)%>
            </th>
            <th class="modal-text"> -</th>
            <th class="tooltipInfoTh">
              <a class="modalTooltips" title="Total number and size of all living documents.">
                <span class="arangoicon icon_arangodb_info"></span>
              </a>
            </th>
          </tr>
          <tr>
            <th class="modal-text">Dead</th>
            <th class="modal-text"><%=figuresData.figures.dead.count%></th>
            <th class="modal-text">
            <%=roundNumber(figuresData.figures.dead.size/1024/1024, 2)%>
            </th>
            <th class="modal-text"><%=figuresData.figures.dead.deletion%></th>

            <th class="tooltipInfoTh">
              <div>
                <a class="modalTooltips" title="Total number and size of all dead documents.">
                <span class="arangoicon icon_arangodb_info"></span>
                </a>
            </div>
            </th>

          </tr>
          <tr><th><div> </div></th></tr>
        </table>
      </div>

			<div class="tab-pane" id="index">
        <table id="collectionIndexTable">
          <tr class="figuresHeader">
            <th class="collectionInfoTh">ID</th>
            <th class="collectionInfoTh">Type</th>
            <th class="collectionInfoTh">Unique</th>
            <th class="collectionInfoTh">Fields</th>
          </tr>
          <%
          if (index){
            var fieldString = '';
            $.each(index.indexes, function(k,v) {
              if (v.fields !== undefined) {
                fieldString = v.fields.join(", ");
              }

              //cut index id
              var position = v.id.indexOf('/');
              var indexId = v.id.substr(position+1, v.id.length);
          %>
          <tr>
            <th class="collectionInfoTh modal-text"><%=indexId%></th>
            <th class="collectionInfoTh modal-text"><%=v.type%></th>
            <th class="collectionInfoTh modal-text"><%=v.unique%></th>
            <th class="collectionInfoTh modal-text"><%=fieldString%></th>
          </tr>
          <%
            });
          }
          %>
        </table>
			</div>

	  </div>
</script>
