  <%
  var createTR = function(row) {
    var mandatory = '';
    if (row.mandatory) {
      mandatory = '*';
    }
    %>
    <tr class="tableRow" id="<%='row_' + row.id%>">
      <th class="collectionTh"><%=row.label%><%=mandatory%>:</th>
      <th class="collectionTh"<%=row.info?'':' colspan="2"'%>>
        <%
        switch(row.type) {
        case "text":
          %>
          <input type="text" id="<%=row.id%>" value="<%=_.escape(row.value||'')%>" placeholder="<%=row.placeholder||''%>"></input>
          <%
          break;
        case "blob":
          %>
          <textarea id="<%=row.id%>" placeholder="<%=row.placeholder||''%>"><%=row.value||''%></textarea>
          <%
          break;
        case "password":
          %>
          <input type="password" id="<%=row.id%>" value="<%=row.value||''%>" placeholder="<%=row.placeholder||''%>"></input>
          <%
          break;
        case "readonly":
          %>
          <div class="modal-text" id="<%=row.id%>"><%=row.value||''%></div>
          <%
          break;
        case "checkbox":
          var checked = '',
            disabled = '';
          if (row.checked) {
            checked = 'checked';
          }
          if (row.disabled) {
            disabled = 'disabled';
          }
          %>
          <input type="checkbox" id="<%=row.id%>" value="<%=row.value%>" <%=checked%> <%=disabled%>></input>
          <%
          break;
        case "select":
          %>
          <select id="<%=row.id%>" class="modalSelect">
          <% _.each(row.options, function(opt) { %>
            <option value="<%=opt.value%>" <%=row.selected === opt.value?"selected":""%>><%=opt.label%></option>
          <% }); %>
          </select>
          <%
          break;
        case "select2":
          %>
          <input type="hidden" id="<%=row.id%>" value="<%=row.value||''%>" placeholder="<%=row.placeholder||''%>"></input>
          <% if (row.addDelete) {%>
            <button class="graphViewer-icon-button gv-icon-small add"></button>
          <% } %>
          <% if (row.addDelete) {%>
            <button class="graphViewer-icon-button gv_internal_remove_line gv-icon-small delete"></button>
          <% } %>
          <%
          break;
        case "jsoneditor":
          %>
          <div id="jsoneditor"/>
          <%
          break;
        }
        %>
        <% if (row.info) { %>
        </th>
        <th>
          <span class="modalTooltips arangoicon icon_arangodb_info" title="<%=row.info%>">
          </span>
        <% } %>
      </th>
    </tr>
    <%
  };
  %>
  <% if (content) { %>
    <table>
      <tbody>
        <%
        _.each(content, function(row) {
          createTR(row);
        });
        %>
      </tbody>
    </table>
  <% } %>
  <% if (info) { %>
    <%= info %>
  <% } %>
  <% if (advancedContent) { %>
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <span><%=advancedContent.header%></span><span><b class="caret"></b></span>
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse out">
          <div class="accordion-inner">
            <table>
              <tbody>
                <%
                _.each(advancedContent.content, function(row) {
                  createTR(row);
                });
                %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% } %>
