
  <ul id="graphTab" class="nav nav-tabs">
    <%
      let enterpriseGraphClass = '';
      let graphClass = '';
      if (frontendConfig.isEnterprise) {
        // In case we do have an Enterprise intance up and running, EnterpriseGraphs will be our default ...
        enterpriseGraphClass = "active"
      } else {
        // ... otherwise, general graphs will be.
        graphClass = "active";
      }
    %>
    <li class="<%=enterpriseGraphClass%>"><a href="#enterpriseGraph" data-toggle="tab" id="tab-enterpriseGraph">EnterpriseGraph</a></li>
    <li><a href="#smartGraph" data-toggle="tab" id="tab-smartGraph">SmartGraph</a></li>
    <li class="<%=graphClass%>"><a href="#createGraph" data-toggle="tab" id="tab-createGraph">GeneralGraph</a></li>
    <li><a href="#satelliteGraph" data-toggle="tab" id="tab-satelliteGraph">SatelliteGraph</a></li>
    <li><a href="#exampleGraphs" data-toggle="tab" id="tab-exampleGraphs">Examples</a></li>
  </ul>

  <div class="tab-content" id="tab-content-create-graph">

    <div class="tab-pane" id="exampleGraphs">
      <table style="margin-bottom: 10px">
        <tbody>
          <tr>
            <td>Knows Graph</td>
            <td>
              <button style="float: right; margin-bottom: 10px;" graph-id="knows_graph" class="button-success createExampleGraphs">Create</button>
            </td>
          </tr>
          <tr>
            <td>Traversal Graph</td>
            <td>
              <button style="float: right; margin-bottom: 10px;" graph-id="traversalGraph" class="button-success createExampleGraphs">Create</button>
            </td>
          </tr>
          <tr>
            <td>k Shortest Paths Graph</td>
            <td>
              <button style="float: right; margin-bottom: 10px;" graph-id="kShortestPathsGraph" class="button-success createExampleGraphs">Create</button>
            </td>
          </tr>
          <tr>
            <td>Mps Graph</td>
            <td>
              <button style="float: right; margin-bottom: 10px;" graph-id="mps_graph" class="button-success createExampleGraphs">Create</button>
            </td>
          </tr>
          <tr>
            <td>World Graph</td>
            <td>
              <button style="float: right; margin-bottom: 10px;" graph-id="worldCountry" class="button-success createExampleGraphs">Create</button>
            </td>
          </tr>
          <tr>
            <td>Social Graph</td>
            <td>
              <button style="float: right; margin-bottom: 10px;" graph-id="social" class="button-success createExampleGraphs">Create</button>
            </td>
          </tr>
          <tr>
            <td>City Graph</td>
            <td>
              <button style="float: right; margin-bottom: 10px;" graph-id="routeplanner" class="button-success createExampleGraphs">Create</button>
            </td>
          </tr>
          <tr>
            <td>Connected Components Graph</td>
            <td>
              <button style="float: right; margin-bottom: 10px;" graph-id="connectedComponentsGraph" class="button-success createExampleGraphs">Create</button>
            </td>
          </tr>
        </tbody>
      </table>
     <p style="width: 100%; text-align: center;">Need help? Visit our <a style="font-weight: bold" href="https://www.arangodb.com/docs/stable/graphs.html#example-graphs" target="_blank">Graph Documentation</a></p>

    </div>

    <div class="active tab-pane" id="createGraph">

    <%
      let smartGraphInfoStyle = "font-weight: 400;";
      if (!frontendConfig.isEnterprise) {
        // In case if we do not have an Enterprise instance, we must hide this by default.
        smartGraphInfoStyle = "display: none;"
      }
    %>

    <div id="smartGraphInfo" class="alert alert-info" style="<%=smartGraphInfoStyle%>">
      <span><i class="fa fa-info-circle"></i></span>
      <span>Only use non-existent collection names. They are automatically created during the graph setup.</span>
    </div>

    <div id="smartGraphInfoOneShard" class="infoMessage" style="display: none">
      <span>Creating SmartGraphs in a OneShard database is discouraged. SmartGraphs only make sense when data are actually distributed, which is exactly opposite to the purpose of the OneShard feature. Using a SmartGraph in a OneShard database may lead to some OneShard query optimizations being disabled.</span>
    </div>

    <%
    var createTR = function(row, disableSubmitOnEnter) {
      var mandatory = '';
      if (row.mandatory) {
        mandatory = '*';
      }
      var cssClass = '';
      if (row.cssClass) {
        cssClass = row.cssClass;
      }

      %>
        <tr class="tableRow <%=cssClass%>" id="<%='row_' + row.id%>">
          <% if (row.removeColon) { %>
          <th class="collectionTh"><%=row.label%><%=mandatory%></th>
          <% } else { %>
            <th class="collectionTh"><%=row.label%><%=mandatory%>:</th>
          <% } %>

          <th class="collectionTh">
            <%
              switch(row.type) {
                case "text":
            %>
            <input type="text" id="<%=row.id%>" value="<%=row.value||''%>" placeholder="<%=row.placeholder||''%>"></input>
            <%
                break;
              case "password":
            %>
            <input type="password" id="<%=row.id%>" value="<%=row.value||''%>" placeholder="<%=row.placeholder||''%>"></input>
            <%
              break;
            case 'spacer':
            %>
            <div class="modal-spacer" id="<%= row.id  %>"></div>
            <%
                break;
              case "readonly":
            %>
            <input type="text" id="<%=row.id%>" value="<%=row.value||''%>" placeholder="<%=row.placeholder||''%>" disabled></input>
            <%
                break;
                case "checkbox":
                  var checked = '',
                    disabled = '';
                  if (row.checked) {
                    checked = 'checked';
                  }
                  if (row.disabled) {
                    disabled = 'disabled';
                  }
            %>
            <input type="checkbox" id="<%=row.id%>" value="<%=row.value%>" <%=checked%> <%=disabled%>></input>
            <%
                break;
                case "select":
            %>
            <select id="<%=row.id%>" class="modalSelect">
            <%
                  _.each(row.options, function(opt) {
            %>
              <option value="<%=opt.value%>" <%=row.selected === opt.value?"selected":""%>><%=opt.label%></option>
            <%
                  });
            %>
            </select>
            <%
                break;
                case "select2":
            %>
            <input type="hidden" id="<%=row.id%>" value="<%=row.value||''%>" placeholder="<%=row.placeholder||''%>"></input>
            <% if (row.addAdd) {%>
              <button id="<%='addAfter_' + row.id%>" class="button-success pull-right add addAfter graphViewer-icon-add-remove-button">Add relation</button>
            <% } %>
            <% if (row.addDelete) {%>
              <button id="<%='remove_' + row.id%>" class="button-danger pull-right delete addDelete graphViewer-icon-add-remove-button">Remove relation</button>
            <% } %>
            <%
                break;
              }

              if (row.info) {
            %>
          <th>
            <span class="modalTooltips arangoicon icon_arangodb_info" title="<%=row.info%>">
            </span>
          </th>
        <%
          } else {
        %>
          <th class="collectionTh"></th>
        <% } %>
        </tr>
      <%
    }//createTR
    %>

    <table>
      <tbody>
        <%
        _.each(content, function(row) {
          createTR(row);
        });
        %>

      </tbody>
    </table>
      <%
      if (advancedContent) {
      %>
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              <span><%=advancedContent.header%></span><span><b class="caret"></b></span>
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse out">
            <div class="accordion-inner">
              <table>
                <tbody>
                  <%
                  _.each(advancedContent.content, function(row) {
                    createTR(row);
                  });
                  %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <%
      }
      %>
    </div>

  </div>
