<%
const createInput = function(obj) {
        switch(obj.type) {
case "text":
%>
<input type="text" id="<%= obj.id %>" value="<%= _.escape(obj.value || '') %>"
       placeholder="<%= obj.placeholder || '' %>"/>
<%
    break;
case "blob":
%>
<textarea id="<%= obj.id %>" placeholder="<%= obj.placeholder || '' %>"><%= obj.value || '' %></textarea>
<%
    break;
case "password":
%>
<input type="password" id="<%= obj.id %>" value="<%= obj.value || '' %>"
       placeholder="<%= obj.placeholder || '' %>"/>
<%
    break;
case "readonly":
%>
<div class="modal-text" id="<%= obj.id %>"><%= obj.value || '' %></div>
<%
    break;
case "checkbox":
    var checked = '',
            disabled = '';
    if (obj.checked) {
        checked = 'checked';
    }
    if (obj.disabled) {
        disabled = 'disabled';
    }
%>
<input type="checkbox" id="<%= obj.id %>" value="<%= obj.value %>" <%= checked %> <%= disabled %>/>
<%
    break;
case "select":
%>
<select id="<%= obj.id %>" class="modalSelect">
    <% _.each(obj.options, function(opt) { %>
        <option value="<%= opt.value %>" <%= obj.selected === opt.value ? "selected" : "" %>><%= opt.label %></option>
    <% }); %>
</select>
<%
    break;
case "select2":
%>
<input type="hidden" id="<%= obj.id %>" value="<%= obj.value || '' %>" placeholder="<%= obj.placeholder || '' %>"/>
<% if (obj.addDelete) { %>
    <button class="graphViewer-icon-button gv-icon-small add"></button>
<% } %>
<% if (obj.addDelete) { %>
    <button class="graphViewer-icon-button gv_internal_remove_line gv-icon-small delete"></button>
<% } %>
<%
    break;
case "jsoneditor":
%>
<div id="jsoneditor"></div>
<%
    break;
}
};
%>
