<%
var figuresData = content.figures || {};
var revision = content.revision;

if (!figuresData.figures) {
  figuresData.figures = {};
}
%>

<div>
  <table id="collectionInfoTable" class="arango-table">
    <tr id="collectionSyncBox">
      <th class="collectionInfoTh2">Wait for sync:</th>
      <th class="collectionInfoTh">
        <div id="show-collection-sync" class="modal-text">
          <%= figuresData.waitForSync %>
        </div>
      </th>
      <th class="tooltipInfoTh">
        <div>
                <span class="modalTooltips arangoicon icon_arangodb_info"
                      title="Synchronize to disk before returning from a create or update of a document.">
                </span>
        </div>
      </th>
    </tr>

    <tr>
      <th class="collectionInfoTh2">ID:</th>
      <th class="collectionInfoTh">
        <div id="show-collection-id" class="modal-text">
          <%= content.model.get("id") %>
        </div>
      <th>
    </tr>

    <tr id="collectionRevBox">
      <th class="collectionInfoTh2">Revision:</th>
      <th class="collectionInfoTh">
        <div id="show-collection-rev" class="modal-text">
          <%= revision.revision %>
        </div>
      </th>
      <th class="collectionInfoTh">
      </th>
    </tr>

    <tr>
      <th class="collectionInfoTh2">Type:</th>
      <th class="collectionInfoTh">
        <div class="modal-text"><%= content.model.get("type") %></div>
      </th>
      <th class="collectionInfoTh">
      </th>
    </tr>

    <tr>
      <th class="collectionInfoTh2">Status:</th>
      <th class="collectionInfoTh">
        <div class="modal-text"><%= content.model.get("status") %></div>
      </th>
      <th class="collectionInfoTh">
      </th>
    </tr>

    <% if (figuresData.numberOfShards) { %>
      <tr>
        <th class="collectionInfoTh2">Number of shards:</th>
        <th class="collectionInfoTh">
          <div class="modal-text"><%= figuresData.numberOfShards %></div>
        </th>
        <th class="collectionInfoTh">
        </th>
      </tr>
    <% } %>

    <% if (figuresData.shards) { %>
      <tr>
        <th class="collectionInfoTh2">Shards:</th>
        <th class="collectionInfoTh">
          <div class="modal-text">
            <% var allShards = Object.keys(figuresData.shards);
            allShards.forEach(function(shardName, index) {
            %>
              <%= (index > 0 ? '<br />' : '') %>
              <%= shardName %>: [ <%= figuresData.shards[shardName].join('  -  ') %> ]

            <% }); %>
          </div>
        </th>
        <th class="collectionInfoTh">
        </th>
      </tr>
    <% } %>

    <% if (figuresData.replicationFactor) { %>
      <tr>
        <th class="collectionInfoTh2">Replication factor:</th>
        <th class="collectionInfoTh">
          <div class="modal-text"><%= figuresData.replicationFactor %></div>
        </th>
        <th class="collectionInfoTh">
        </th>
      </tr>
    <% } %>

    <% if (figuresData.writeConcern) { %>
      <tr>
        <th class="collectionInfoTh2">Write concern:</th>
        <th class="collectionInfoTh">
          <div class="modal-text"><%= figuresData.writeConcern %></div>
        </th>
        <th class="collectionInfoTh">
        </th>
      </tr>
    <% } %>

    <% if (figuresData.shardKeys) { %>
      <tr>
        <th class="collectionInfoTh2">Shard keys:</th>
        <th class="collectionInfoTh">
          <div class="modal-text"><%= JSON.stringify(figuresData.shardKeys) %></div>
        </th>
        <th class="collectionInfoTh">
        </th>
      </tr>
    <% } %>

    <% if (figuresData.distributeShardsLike) { %>
      <tr>
        <th class="collectionInfoTh2">Distribute shards like:</th>
        <th class="collectionInfoTh">
          <div class="modal-text"><%= figuresData.distributeShardsLike %></div>
        </th>
        <th class="collectionInfoTh">
        </th>
      </tr>
    <% } %>

    <% if (figuresData.smartJoinAttribute) { %>
      <tr>
        <th class="collectionInfoTh2">SmartJoin attribute:</th>
        <th class="collectionInfoTh">
          <div class="modal-text"><%= figuresData.smartJoinAttribute %></div>
        </th>
        <th class="collectionInfoTh">
        </th>
      </tr>
    <% } %>

  </table>
</div>