<script id="nodesView.ejs" type="text/template">

  <div id="nodesContent" class="innerContent">

  <% if (coords.length > 0) { %>
    <% var disabled = ''; %> 

    <% var genClass = "pure-u-1-" + Object.keys(coords[0]).length; %>

    <% if (type !== 'coordinator') { %>
      <% disabled = " disabled"; %> 
    <% } else { %>
      <% disabled = " "; %> 
    <% } %>

    <div class="pure-g cluster-nodes-title pure-table pure-table-header pure-title">
      <div class="pure-table-row">
        <div class="<%= genClass %> mid">Name</div>
        <div class="<%= genClass %> mid">Address</div>
        <div class="<%= genClass %> mid">Protocol</div>
        <div class="<%=genClass%> mid">Role</div>
        <div class="<%=genClass%> mid">Status</div>
 
      </div>
    </div>

    <div class="pure-g cluster-nodes coords-dbs pure-table pure-table-body">

      <% _.each(coords, function(node) { %>

        <div class="pure-table-row <%= disabled %>" node="<%=node.name%>">

          <div class="<%= genClass %> mid"><%= node.name %></div>
          <div class="<%= genClass %> mid"><%= node.address %></div>
          <div class="<%= genClass %> mid"><%= node.protocol %></div>
          <div class="<%=genClass%> mid"><%= node.role %></div>

          <% if(node.status === 'ok') { %>
            <div class="<%= genClass %> mid state"><i class="fa fa-check-circle"></i></div>
          <% } else { %>
            <div class="<%= genClass %> mid state"><i class="fa fa-exclamation-circle"></i></div>
          <% } %>

        </div>

      <% }); %>

    </div>

  <% } %>

  </div>

</script>
