
  <a class="info default-icon">User: 
    <span class="toggle"> 
      <%=_.escape(username)%>
    </span>
    <% if (!autoLoginEnabled) {%>
      <i id="userLogoutIcon" class="fa fa-power-off" aria-hidden="true"></i>
    <% }%>
  </a>
  
  <ul id="userInfo" class="subBarDropdown">
    <li class="dropdown-header">
      <div style="height: 1px; background: rgb(119, 203, 153)"></div>
      <img class="user-img" src="<%=img%>"/>
        <p><% if (name) {%><%=_.escape(username)%><small> <%=_.escape(name)%> </small>
        <% } else {%>
          <%=_.escape(username)%>
        <% } %>
        </p>
    </li>
    <% if (!autoLoginEnabled) {%>
      <li class="dropdown-footer">
        <button id="userLogout" class="button-primary btn-small pull-right">Logout</button>
      </li>
    <% }%>
    <% if (autoLoginEnabled) {%>
      <li class="dropdown-footer" style="max-width: 200px; line-height: 1.4; padding: 0 10px !important;">
        This login is automatically managed by ArangoGraph.
      </li>
    <% }%>
  </ul>
  