
  <a class="info default-icon">User: 
    <span class="toggle"> 
      <%=_.escape(username)%>
    </span>
    <i id="userLogoutIcon" class="fa fa-power-off" aria-hidden="true"></i>
  </a>

  <ul id="userInfo" class="subBarDropdown">
    <li class="dropdown-header">
      <div style="height: 1px; background: rgb(119, 203, 153)"></div>
      <img class="user-img" src="<%=img%>"/>
        <p><% if (name) {%><%=_.escape(username)%><small> <%=_.escape(name)%> </small>
        <% } else {%>
          <%=_.escape(username)%>
        <% } %>
        </p>
    </li>
    <li class="dropdown-footer">
      <button id="userLogout" class="button-primary btn-small pull-right">Logout</button>
    </li>
  </ul>

<!--
<ul class="navlist" id="userBarUl">

  <li class="dropdown user-menu userImg">
    <a href="#" class="tab userImg" id="user" >
      <img class="user-menu-img" src="<%=img%>" id="userimage" /> <b class="caret"></b>
    </a>
    <ul class="user-dropdown-menu" id="user_dropdown">
      <li class="dropdown-header" style="text-transform: none">
        <%
        if (name) {%>
        <%=_.escape(name)%> (<%=_.escape(username)%>)
        <% } else {%>
        <%=_.escape(username)%>
        <% } %>
      <li class="dropdown-item">
        <a id="userProfile" class="tab" href="#user">User Profile</a>
      </li>
      <li class="dropdown-item">
        <a id="userLogout" class="tab">Logout</a>
      </li>
    </ul>
  </li>

</ul>

--> 
